# Airflow providers
apache-airflow-providers-postgres

# Database clients
neo4j==5.18.0
psycopg2-binary==2.9.9
pgvector
qdrant-client==1.9.1

# AI / Embeddings
openai==1.30.1
langchain
langgraph
sentence-transformers

# Data
pandas
numpy
yfinance
plotly
requests
